.header {
    position: relative;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        margin-left: auto;

        a {
            color: #000;

            &.active {
                font-weight: bold;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }

            &:hover:not(.active) {
                text-decoration: underline;
            }
        }
    }

    .account {
        margin-left: 80px;
    }
}
